*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html,body{
  background-color:cadetblue;
}

.App{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  padding-top:15px; 
  font-family: Lato,sans-serif;
}

.titulo{
  width:100%;
  color: blanchedalmond;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 20px;
  font-size:30px;
  font-family: monospace;
}

.contenedor-principal{
  height:550px;
  min-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

